﻿body{
    padding: 0px;
    margin: 0px;
}
.container {
    width: 940px;
    margin: auto;
}
.header{
    background-color: #173554;
    padding: 10px;
    color: white;
    text-align: center;
}
.menu{
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
.content p{
    text-align: justify;
}
.footer{
    margin-top: 50px;
    border-top: 1px solid grey;
    color: grey;
    padding-top: 10px;
}
.cetak-box{
    text-align: right;
}
#cetak:hover{
    cursor: pointer;
    color: blue;
}
.merah{
    color: red;
}